<h1>Sign Up</h1>
<%= form_with model: @user, url: singin_path do |form| %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <div>
    <%= form.label :email %>
    <%= form.email_field  :email %>
  </div>

  <div>
    <%= form.label :password %>
    <%= form.password_field  :password %>
  </div>

  <div>
    <%= form.label :password_confirmation %>
    <%= form.password_field  :password_confirmation %>
  </div>

    <div>
    <%= form.submit "Sing up" %>
    </div>
<% end %>
