<%= stylesheet_link_tag 'singin', media: 'all', 'data-turbolinks-track': 'reload' %>

<h1 class="login-title">Login</h1>

<div class="form-container">
  <%= form_tag login_path, method: :post, class: "login-form" do %>
    <% if flash[:alert] %>
      <div class="alert alert-danger"><%= flash[:alert] %></div>
    <% end %>
    <div class="form-group">
      <%= label_tag :email %><br>
      <%= text_field_tag :email, nil, autofocus: true %>
    </div>
    <div class="form-group">
      <%= label_tag :password %><br>
      <%= password_field_tag :password %>
    </div>
    <div class="form-group">
      <%= submit_tag "Log In", class: "submit-button" %>
    </div>

    <div class="form-group">
    <p class="signup-link"><%= link_to "Sign Up", new_singin_path %></p>

    </div>
  <% end %>
</div>
